.gameplayContainer {
  min-height: 100vh;
  padding-top: 120px;
  padding: 24px;
  position: relative;
  overflow: visible;
}

.endRoundButtonWrapper {
  position: absolute;
  top: 140px;
  right: 32px;
  z-index: 10;
}

.discardButtonWrapper {
  position: absolute;
  bottom: 220px;
  right: 32px;
  z-index: 10;
}
